*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 
 }
 /*----------------------------
      Header Style Start 
 ------------------------------*/
 #header{
     background-color: #2D25A0;
 }
 .header-container{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 20px;
     width: 90%;
     margin: 0 auto;
     padding-top: 30px;
     align-items: center;
 }
 .header-text{
     color: #FFFFFF;
     
 }
 .header-text h1{
     font-size: 60px;
     line-height: 80px;
     margin-bottom: 20px;
 }
 .header-text a{
     color:#fff;
     background-color: #E02C6D;
     padding: 10px 30px;
     text-decoration: none;
     font-size: 16px;
     border-radius: 5px;
     
 }
 #header:hover .header-img img {
     transform: scale(-1);
 }
 
 .header-text i{
     margin-left: 5px;
 }
 
 .header-img img{
     width: 100%;
     overflow: hidden;
     transition: transform linear 3s;
     
 }
 
 
 /*-----------------------------
      Header Style End 
 -------------------------------*/
 
 /*----------------------------
      Blogs Style Start 
 ----------------------------*/
 #blogs{
     margin:50px 0;
 }
 .blogs-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 80%;
     margin: 0 auto;
     grid-column-gap: 15px;
     grid-row-gap: 15px;
 }
 .blogs-iteam{
     padding: 15px;
     box-shadow: 1px 1px 4px 2px #F6F6F6;
 }
 .blog-img img{
     width: 100%;
 }
 /* footer style start */
 .footer-container{
    width: 100%;
    position: relative;
    align-items: center;
}
.footer-info{
    padding-bottom: 24px;
}
.footer-button{
     color:#fff;
     background-color: #E02C6D;
     margin-top: 24px;
     padding: 10px 30px;
     text-decoration: none;
     font-size: 16px;
     border-radius: 5px;
     display: inline-block;
}
.footer-logo{
    width: 484px;
    height: 110px;
    display: flex;
    justify-content: center;
}
.footer-item i{
    width: 100%;
}
.footer-icon{
    display: flex;
    justify-content: center;

}

.footer-icon i{
    height: 30px;
    width: 30px;
}
.footer-text p{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
}
/* footer style end */

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .header-container .blogs-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding-top: 30px;
        align-items: center;
    }
}